body {
  background-color: bisque;
  /* max-width: 1200px; */
}

#keyboard {
  display: grid;
  grid-template-columns: repeat(88, 1fr);
}

.key {
  border: 1px solid black;
  height: 48px;
  background-color: white;
}
.key.black {
  background-color: black;
}

.divider {
  width: 100%;
  border-bottom: 1px dotted gray;
}

#sequencer {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}
.single {
  border-bottom: 10px solid transparent;
  display: flex;
  flex-direction: column;
  /* margin: auto; */
  /* text-align: center; */
}
select {
  margin-right: auto;
}

.single-current {
  border-bottom: 10px solid black;
}

ul {
  max-width: 500px;
}